<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dodlebee.firebasetest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_144"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireBaseTest"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="LockedOrientationActivity">

        <activity android:name=".KaKao.KaKaoMap" />
        <activity android:name=".authentication.LoginActivity" />
        <activity android:name=".function.GridLayout" />
        <activity android:name=".dynamiclinks.DynamicLinks" />
        <activity android:name=".cloudfirestore.CloudFireStore" />
        <activity android:name=".naver.NaverLogin" />
        <activity android:name=".naver.OAuthSampleActivity" />
        <activity android:name=".storage.StorageJAVA" />
        <activity android:name=".storage.CameraActivity"/>
        <activity android:name=".storage.CameraKotlin"/>
        <activity android:name="com.dodlebee.websocket.SocketActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="87edb41eab8d4259696c5ffc99b80c45" />
    </application>

</manifest>